<%= form_for @other_article, :html => { :class => "form-horizontal book",  } do |f| %>

  <% if @other_article.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@other_article.errors.count, "error") %> prohibited this other listing from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @other_article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div> 
  <% end %>
 
  <div class="form-group">
    <%= f.label :others_Title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :other_articleTitle, :class => 'form-control' , placeholder: "required", :required => true %>
    </div>
    <%=f.error_span(:other_articleTitle) %>
  </div>



  <div class="form-group">
    <%= f.label :others_Price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :othersPrice, :class => 'form-control', placeholder: "USD", type: "number" %>
    </div>
    <%=f.error_span(:othersPrice) %>
  </div>






<div class="form-group">
      <%= f.label "Condition", class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select(:condition, options_for_select([['New', 'new'], ['Used like new', 'Used like new'],
        ['Used very good', 'Used very good'], ['Used acceptable Used fair', 'Used acceptable Used fair'] ]), { include_blank: true }) %>
      </div>
    </div>


  <div class="form-group">
    <%= f.label :available_now, :class => 'control-label col-lg-2' %>
     
     <div class="col-lg-10">
     <%= f.radio_button :availableNow, 'true' %> 
     <%= label :true, 'yes' %>
      <%= f.radio_button :availableNow, 'false', :checked => true %>
      <%= label :false, 'no' %>
    </div>
    <%=f.error_span(:availableNow) %>
  </div>

 
  

  <div class="form-group">
    <%= f.label :picture, class: 'col-sm-2 control-label' %>
    <div class="col-lg-10"> <!-- class="col-sm-6" -->
      <%= f.file_field :otherarticle_photo, :required => true, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                other_articles_path, :class => 'btn btn-default' %>
    </div>
  </div> 



<% end %>














<!-- ------------------------------- new test above--------------------------------------------------------------
 -->




<!-- 
<%= form_with(model: other_article, local: true) do |form| %>
  <% if other_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(other_article.errors.count, "error") %> prohibited this other_article from being saved:</h2>

      <ul>
      <% other_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="field">
    <%= form.label :othersType %>
    <%= form.text_field :othersType, id: :other_article_othersType %>
  </div>

  <div class="field">
    <%= form.label :othersPrice %>
    <%= form.number_field :othersPrice, id: :other_article_othersPrice %>
  </div>

  <div class="field">
    <%= form.label :availableNow %>
    <%= form.check_box :availableNow, id: :other_article_availableNow %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id, id: :other_article_student_id %>
  </div>

  <div class="field">
    <%= form.label :othersDescription %>
    <%= form.text_area :othersDescription, id: :other_article_othersDescription %>
  </div>

  <div class="field">
    <%= form.label :othersLocation %>
    <%= form.text_field :othersLocation, id: :other_article_othersLocation %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition, id: :other_article_condition %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

-->
