<%= form_for @vehicule, :html => { :class => "form-horizontal book",  } do |f| %>

  <% if @vehicule.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@vehicule.errors.count, "error") %> prohibited this vehicule from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @vehicule.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div> 
  <% end %>
 
  <div class="form-group">
    <%= f.label :vehicule_Title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :vehiculeTitle, :class => 'form-control' , placeholder: "required", :required => true %>
    </div>
    <%=f.error_span(:vehiculeTitle) %>
  </div>



  <div class="form-group">
    <%= f.label :vehicule_Price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :vehiculePrice, :class => 'form-control', placeholder: "USD", type: "number" %>
    </div>
    <%=f.error_span(:vehiculePrice) %>
  </div>






<div class="form-group">
      <%= f.label "Condition", class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select(:condition, options_for_select([['New', 'new'], ['Used like new', 'Used like new'],
        ['Used very good', 'Used very good'], ['Used acceptable Used fair', 'Used acceptable Used fair'] ]), { include_blank: true }) %>
      </div>
    </div>


  <div class="form-group">
    <%= f.label :available_now, :class => 'control-label col-lg-2' %>
     
     <div class="col-lg-10">
     <%= f.radio_button :availableNow, 'true' %> 
     <%= label :true, 'yes' %>
      <%= f.radio_button :availableNow, 'false', :checked => true %>
      <%= label :false, 'no' %>
    </div>
    <%=f.error_span(:availableNow) %>
  </div>

 
  

  <div class="form-group">
    <%= f.label :vehicule_photo, class: 'col-sm-2 control-label' %>
    <div class="col-lg-10"> <!-- class="col-sm-6" -->
      <%= f.file_field :vehicule_photo, :required => true, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vehicules_path, :class => 'btn btn-default' %>
    </div>
  </div> 



<% end %>



<!-- ------------------------------- new test above--------------------------------------------------------------
 -->




<!-- -------------------------------

<%= form_with(model: vehicule, local: true) do |form| %>
  <% if vehicule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicule.errors.count, "error") %> prohibited this vehicule from being saved:</h2>

      <ul>
      <% vehicule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="field">
    <%= form.label :vehiculeType %>
    <%= form.text_field :vehiculeType, id: :vehicule_vehiculeType %>
  </div>

  <div class="field">
    <%= form.label :vehiculePrice %>
    <%= form.number_field :vehiculePrice, id: :vehicule_vehiculePrice %>
  </div>

  <div class="field">
    <%= form.label :availableNow %>
    <%= form.check_box :availableNow, id: :vehicule_availableNow %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id, id: :vehicule_student_id %>
  </div>

  <div class="field">
    <%= form.label :vehiculeDescription %>
    <%= form.text_area :vehiculeDescription, id: :vehicule_vehiculeDescription %>
  </div>

  <div class="field">
    <%= form.label :vehiculeLocation %>
    <%= form.text_field :vehiculeLocation, id: :vehicule_vehiculeLocation %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition, id: :vehicule_condition %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :vehicule_make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :vehicule_model %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :vehicule_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

 -->
