<div  class= "vertivcalnacBook">

  <div class="btn-group-vertical">
  
   <Button class="btn btn-secondary"><%= link_to "Books", books_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Electronics", electronics_computers_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Tutoring", tutors_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Apartments", housings_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Cars", vehicules_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Others", other_articles_path %></Button>
  
  </div>
</div>



 <%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.update', 'For Sale'] %></h1>
</div>

 


<% @vehicules.each do |vehicule| %>
  <!-- <div class="col-sum-6 col-md-3"> -->
  <div class="p-places">
    <div class="thumbnail">     
      <%= link_to (image_tag vehicule.vehicule_photo.url(:medium)),
      vehicule_path(vehicule, continue: edit_vehicule_path(vehicule)) %>
      <div class="p-description">
        <p> <%= vehicule.vehiculeTitle %></p>
        <p>$<%= vehicule.vehiculePrice %></p>
      </div>
    </div>
  </div>
<% end -%>

 








<!-- 
<p id="notice"><%= notice %></p>

<h1>Vehicules</h1>

<table>
  <thead>
    <tr>
      <th>Vehiculetype</th>
      <th>Vehiculeprice</th>
      <th>Availablenow</th>
      <th>Student</th>
      <th>Vehiculedescription</th>
      <th>Vehiculelocation</th>
      <th>Condition</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicules.each do |vehicule| %>
      <tr>
        <td><%= vehicule.vehiculeType %></td>
        <td><%= vehicule.vehiculePrice %></td>
        <td><%= vehicule.availableNow %></td>
        <td><%= vehicule.student_id %></td>
        <td><%= vehicule.vehiculeDescription %></td>
        <td><%= vehicule.vehiculeLocation %></td>
        <td><%= vehicule.condition %></td>
        <td><%= vehicule.make %></td>
        <td><%= vehicule.model %></td>
        <td><%= vehicule.year %></td>
        <td><%= link_to 'Show', vehicule %></td>
        <td><%= link_to 'Edit', edit_vehicule_path(vehicule) %></td>
        <td><%= link_to 'Destroy', vehicule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicule', new_vehicule_path %> -->
