<li class="<%=  self_or_other(message) %>">
  <div class="avatar">
    <img src="http://placehold.it/50x50" />
  </div>
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      
    <% if message_interlocutor(message).pseudo.blank? %>
    	<%= message_interlocutor(message).email[0...18] %> • <%= message.message_time %>
    <% else %>
      <%= message_interlocutor(message).pseudo %> • <%= message.message_time %>
    <% end %>
    </time>
  </div>
</li>



