


<div  class= "vertivcalnacBook">

  <div class="btn-group-vertical">
  
   <Button class="btn btn-secondary"><%= link_to "Books", books_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Electronics", electronics_computers_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Tutoring", tutors_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Apartments", housings_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Cars", vehicules_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Others", other_articles_path %></Button>
  
  </div>
</div>



<div class= "sidebar">
 <% content_for(:sidebar) do %>
  <% render :partial => "layouts/sidebar" %>

 <% end %>
</div>

 <!-- ------------------------ New work below --------------------------- -->

 <% if student_signed_in? %>
  <%- model_class = Student -%>
  <div class="page-header">
    <h1><%=t '.title', :default => [:'helpers.titles.update', 'Available Tutors'] %></h1>
  </div>

  <% @tutors.each do |tutor|%>  
  <!-- <div class="p-wrap"> -->  
      <!-- <div class="col-sum-6 col-md-3"> -->
      <div class="p-places">
          <div class="thumbnail">
            <%= link_to (image_tag tutor.photo_tutor.url(:medium)), tutor_path(tutor, continue: edit_tutor_path(tutor)) %>
            <div class="p-description">
              <p> <%= tutor.name %></p>
              <p>$<%= tutor.price %></p>
              <p> <%= tutor.classTeaching %></p>
            </div>
          </div>
      </div>
  <% end %>
<% end %>






<% if !student_signed_in? %>
  <%- model_class = Student -%>
  <div class="page-header">
    <h1><%=t '.title', :default => [:'helpers.titles.update', 'Available Tutors'] %></h1>
  </div>

          
  <% @tutors.each do |tutor|%>
  <!-- <div class="p-wrap"> -->
    <!-- <div class="col-sum-6 col-md-3"> -->

    <div class="p-places">
      <div class="thumbnail">
            <%= link_to (image_tag tutor.photo_tutor.url(:medium)), new_student_session_path %>
            <div class="p-description">
              <p> <%= tutor.title %></p>
              <p>$<%= tutor.price %></p>
              <p> <%= tutor.classTeaching %></p>
            </div>
          </div>
      </div>
  <% end %>
<% end %>




<!-- New test below --------------------- -->



<%= will_paginate(@tutors, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 ,class: 'justify-content-center') %>


















