<!-- <p id="notice"><%= notice %></p>

<h1>Tutors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Degree</th>
      <th>Classteaching</th>
      <th>Grades</th>
      <th>Price</th>
      <th>Schedule</th>
      <th>Location</th>
      <th>Student</th>
      <th>Tutordescription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutors.each do |tutor| %>
      <tr>
        <td><%= tutor.name %></td>
        <td><%= tutor.degree %></td>
        <td><%= tutor.classTeaching %></td>
        <td><%= tutor.grades %></td>
        <td><%= tutor.price %></td>
        <td><%= tutor.schedule %></td>
        <td><%= tutor.location %></td>
        <td><%= tutor.student_id %></td>
        <td><%= tutor.tutorDescription %></td>
        <td><%= link_to 'Show', tutor %></td>
        <td><%= link_to 'Edit', edit_tutor_path(tutor) %></td>
        <td><%= link_to 'Destroy', tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutor', new_tutor_path %>
 -->


 <!-- ------------------------ New work below --------------------------- -->

 <% if student_signed_in? %>
  <%- model_class = Student -%>
  <div class="page-header">
    <h1><%=t '.title', :default => [:'helpers.titles.update', 'Available Tutors'] %></h1>
  </div>

  <% @tutors.each do |tutor|%>  
  <!-- <div class="p-wrap"> -->  
      <!-- <div class="col-sum-6 col-md-3"> -->
      <div class="p-places">
          <div class="thumbnail">
            <%= link_to (image_tag tutor.photo_tutor.url(:medium)), tutor_path(tutor, continue: edit_tutor_path(tutor)) %>
            <div class="p-description">
              <p> <%= tutor.name %></p>
              <p>$<%= tutor.price %></p>
              <p> <%= tutor.classTeaching %></p>
            </div>
          </div>
      </div>
  <% end %>
<% end %>






<% if !student_signed_in? %>
  <%- model_class = Student -%>
  <div class="page-header">
    <h1><%=t '.title', :default => [:'helpers.titles.update', 'For Sale'] %></h1>
  </div>

          
  <% @tutors.each do |tutor|%>
  <!-- <div class="p-wrap"> -->
    <!-- <div class="col-sum-6 col-md-3"> -->

    <div class="p-places">
      <div class="thumbnail">
            <%= link_to (image_tag tutor.photo_tutor.url(:medium)), new_student_session_path %>
            <div class="p-description">
              <p> <%= tutor.title %></p>
              <p>$<%= tutor.price %></p>
            </div>
          </div>
      </div>
  <% end %>
<% end %>




<!-- New test below --------------------- -->

<%= will_paginate @tutors, renderer: BootstrapPagination::Rails, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %>

















