
<div  class= "vertivcalnacBook">

  <div class="btn-group-vertical">
  
    <Button class="btn btn-secondary"><%= link_to "Books", books_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Electronics", electronics_computers_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Tutoring", tutors_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Appartments", housings_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Vehicules", vehicules_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Others", other_articles_path %></Button>
  
  </div>
</div>


 <%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.update', 'For Sale'] %></h1>
</div>
<!-- 
<% @books.each do |book|%>
  <div class="col-sum-6 col-md-3">
    <div class="thumbnail">
   <!--   <%= link_to (image_tag book.avatar.url(:medium), class: 'avatar'), book %> --> <!-- 
      <td> <%= link_to (image_tag book.avatar.url(:medium)), book_path(book, continue: edit_book_path(book)) %> </td>
      <p> <%= book.title %></p>
      <p>$<%= book.price %></p>
    </div>
  </div>
<% end %>-->

<!-- 
---------------------- new test below ----------------- -->





<% @books.each do |book|%>
  <!-- <div class="col-sum-6 col-md-3"> -->
  <div class="p-places">
    <div class="thumbnail">     
      <%= link_to (image_tag book.avatar.url(:medium)), book_path(book, continue: edit_book_path(book)) %>
      <div class="p-description">
        <p> <%= book.title %></p>
        <p>$<%= book.price %></p>
      </div>
    </div>
  </div>
<% end -%>





<%= will_paginate(@books, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 ,class: 'justify-content-center') %>













