<!-- ********************* Abou modification a partir en bas****************
 -->

 <%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.update', 'For Sale'] %></h1>
</div>
 
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @book.avatar.url(:medium) %>
        <div class="table-responsive"></div>
        <table class="table">
          <tbody>
            <tr>
              <td><strong>Title:</strong></td>
              <td><%= @book.title %> </td>
            </tr>
            <tr>
              <td><strong>Author:</strong></td>
              <td><%= @book.author %> </td>
            </tr>
            <tr>
              <td><strong>Price:</strong></td>
              <td>$ <%=  @book.price %> </td>
            </tr>


            <tr>
              <td><strong>Available Now:</strong></td>
              <% if @book.avaibility? %>
                <td> Yes </td>
              <% else %>
                <td> No </td>
              <% end %>
            </tr>


            <tr>
              <td><strong>Condition:</strong></td>
              <td><%= @book.condition %> </td>
            </tr>
            <tr>

            <tr>
              <td><strong>isbn:</strong></td>
              <td><%= @book.isbn %> </td>
            </tr>
            <tr>
              <td><strong>Seller email:</strong></td>
              <td><%= @book.email %> </td>
            </tr>

          </tbody>
        </table>
        
      </div>

    </div>
  </div>

</div>
 
  <%  if (student_signed_in? && (current_student.id == @book.student_id)) %>

            <%= link_to t('.back', :default => t("helpers.links.back")),
                          books_path, :class => 'btn btn-default'  %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_book_path(@book), :class => 'btn btn-default' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          book_path(@book),
                          :method => 'delete',
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-danger' %>

          <% end %>
































