




<%= form_for @housing, :html => { :class => "form-horizontal book",  } do |f| %>

  <% if @housing.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@housing.errors.count, "error") %> prohibited this housing from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @housing.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div> 
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :housingTitle, :class => 'form-control' , placeholder: "required", :required => true %>
    </div>
    <%=f.error_span(:housingTitle) %>
  </div>

  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :housePrice, :class => 'form-control', placeholder: "USD", type: "number" %>
    </div>
    <%=f.error_span(:housePrice) %>
  </div>

  <div class="form-group">
    <%= f.label :available_now, :class => 'control-label col-lg-2' %>
     
     <div class="col-lg-10">
     <%= f.radio_button :availableDate, 'true' %> 
     <%= label :true, 'yes' %>
      <%= f.radio_button :availableDate, 'false', :checked => true %>
      <%= label :false, 'no' %>
    </div>
    <%=f.error_span(:availableDate) %>
  </div>

  <div class="form-group">
    <%= f.label :Seller_email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :housingemail, :class => 'form-control' %>
    </div>
    <%=f.error_span(:housingemail) %>
  </div>


  <div class="form-group">
    <%= f.label :housephoto, class: 'col-sm-2 control-label' %>
    <div class="col-lg-10"> <!-- class="col-sm-6" -->
      <%= f.file_field :housephoto, :required => true, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn btn-default' %>
    </div>
  </div> 
<% end %>








<!-- ---------------------------------------------New one above----------------------------------------------------------------- -->







<!--  <%= form_with(model: housing, local: true) do |form| %>
  <% if housing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(housing.errors.count, "error") %> prohibited this housing from being saved:</h2>

      <ul>
      <% housing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rentalType %>
    <%= form.text_field :rentalType, id: :housing_rentalType %>
  </div>

  <div class="field">
    <%= form.label :numberofBedrooms %>
    <%= form.number_field :numberofBedrooms, id: :housing_numberofBedrooms %>
  </div>

  <div class="field">
    <%= form.label :numberofBathrooms %>
    <%= form.number_field :numberofBathrooms, id: :housing_numberofBathrooms %>
  </div>

  <div class="field">
    <%= form.label :housePrice %>
    <%= form.number_field :housePrice, id: :housing_housePrice %>
  </div>

  <div class="field">
    <%= form.label :availableDate %>
    <%= form.datetime_select :availableDate, id: :housing_availableDate %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id, id: :housing_student_id %>
  </div>

  <div class="field">
    <%= form.label :homeDescription %>
    <%= form.text_area :homeDescription, id: :housing_homeDescription %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :housing_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> -->
