<p id="notice"><%= notice %></p>

<h1>Electronics Computers</h1>

<table>
  <thead>
    <tr>
      <th>Electronicstitle</th>
      <th>Electronicsprice</th>
      <th>Availablenow</th>
      <th>Student</th>
      <th>Electronisdescription</th>
      <th>Electronicslocation</th>
      <th>Condition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @electronics_computers.each do |electronics_computer| %>
      <tr>
        <td><%= electronics_computer.electronicsTitle %></td>
        <td><%= electronics_computer.electronicsPrice %></td>
        <td><%= electronics_computer.availableNow %></td>
        <td><%= electronics_computer.student_id %></td>
        <td><%= electronics_computer.electronisDescription %></td>
        <td><%= electronics_computer.electronicsLocation %></td>
        <td><%= electronics_computer.condition %></td>
        <td><%= link_to 'Show', electronics_computer %></td>
        <td><%= link_to 'Edit', edit_electronics_computer_path(electronics_computer) %></td>
        <td><%= link_to 'Destroy', electronics_computer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Electronics Computer', new_electronics_computer_path %>
