<div  class= "vertivcalnacBook">

  <div class="btn-group-vertical">
  
    <Button class="btn btn-secondary"><%= link_to "Books", books_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Electronics", electronics_computers_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Tutoring", tutors_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Apartments", housings_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Cars", vehicules_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Others", other_articles_path %></Button>
  
   
  </div>
</div>

 <%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.update', 'For Sale'] %></h1>
</div>

 


<% @electronics_computers.each do |electronics_computer| %>
  <!-- <div class="col-sum-6 col-md-3"> -->
  <div class="p-places">
    <div class="thumbnail">     
      <%= link_to (image_tag electronics_computer.electronicsphoto.url(:medium)),
      electronics_computer_path(electronics_computer, continue: edit_electronics_computer_path(electronics_computer)) %>
      <div class="p-description">
        <p> <%= electronics_computer.electronicsTitle %></p>
        <p>$<%= electronics_computer.electronicsPrice %></p>
      </div>
    </div>
  </div>
<% end -%>

 







<!-- 
<h1>Electronics ComputersTTTTT</h1>


  <tbody>
    <% @electronics_computers.each do |electronics_computer| %>
      <tr>
        <td><%= electronics_computer.electronicsTitle %></td>
        <td><%= electronics_computer.electronicsPrice %></td>
        <td><%= electronics_computer.availableNow %></td>
        <td><%= electronics_computer.student_id %></td>
        <td><%= electronics_computer.electronisDescription %></td>
        <td><%= electronics_computer.electronicsLocation %></td>
        <td><%= electronics_computer.condition %></td>
        <td><%= link_to 'Show', electronics_computer %></td>
        <td><%= link_to 'Edit', edit_electronics_computer_path(electronics_computer) %></td>
        <td><%= link_to 'Destroy', electronics_computer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Electronics Computer', new_electronics_computer_path %>
 -->