<!-- <p id="notice"><%= notice %></p>

<h1>Listing Universities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @universities.each do |university| %>
      <tr>
        <td><%= university.name %></td>
        <td><%= university.photo %></td>
        <td><%= link_to 'Show', university %></td>
        <td><%= link_to 'Edit', edit_university_path(university) %></td>
        <td><%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New University', new_university_path %>
 -->

 <div  class= "vertivcalnacBook">

  <div class="btn-group-vertical">
    <Button class="btn btn-secondary"><%= link_to "Books", books_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Electronics", electronics_computers_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Tutoring", tutors_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Apartments", housings_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Cars", vehicules_path %></Button>
    <Button class="btn btn-secondary"><%= link_to "Others", other_articles_path %></Button>
  </div>

</div>
 

 <%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.update', 'Universities'] %></h1>
  <li><%= link_to "Create a new University", new_university_path %></li>
</div>


 





<% @universities.each do |university|%>
  <!-- <div class="col-sum-6 col-md-3"> -->
  <div class="p-places">
    <div class="thumbnail">     
      <%= link_to (image_tag university.university_photo.url(:medium)), university_path(university, continue: edit_university_path(university)) %>
      <div class="p-description">
        <p> <%= university.name %></p>
        
      </div>
    </div>
  </div>
<% end -%>









