<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= student_signed_in? ? current_student.id : "" %>' name='student-id'/>
  <title>Cuny</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	 <%= javascript_include_tag :defaults , skip_pipeline: true%> 

</head>

<body>



	
 <!-- test is happening here ------------------------------------------------ -->



  <% if current_page?(tutors_path) || current_page?(search_tutors_path) || current_page?(new_tutor_path) || current_page?(tutors_home_path) %>
    <%= render 'tutors/headertutors' %>

 

  <% elsif current_page?(controller: 'tutors')%>
    <%= render 'tutors/headertutors' %>




<% elsif current_page? (housings_path) %>
  <%= render 'housings/headerhousings' %>
<% elsif current_page? (electronics_computers_path) %>
  <%= render 'electronics_computers/headerelectronics' %>
<% elsif current_page? (vehicules_path) %>
  <%= render 'vehicules/headervehicules' %>
<% elsif current_page? (other_articles_path) %>
  <%= render 'other_articles/headerother' %>
<% else %>
    <%= render 'layouts/header' %>
<% end %>



<% if current_page?(controller:'tutors') &&
 (current_page?(action:'index') ||
  current_page?(action:'new')   ||
  current_page?(action:'edit')) %>
<%= render 'tutors/headertutors' %>

<% end %>




<!-- test is end here ------------------------------------------------ -->

  <div>
      <%= yield :sidebar %>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
   <%= yield %>
   </div>
    
</body>
</html>





