<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= student_signed_in? ? current_student.id : "" %>' name='student-id'/>
  <title>Cuny</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	 

</head>

<body>



	
 <!-- test is happening here ------------------------------------------------ -->
<header>
<%= render 'layouts/header' %>

</header>

  











<!-- test is end here ------------------------------------------------ -->

  <div>
      <%= yield :sidebar %>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
   <%= yield %>
   </div>
    
</body>
</html>





