<!DOCTYPE html>
<html>
<head>
  <title>Cuny</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<%= javascript_include_tag :defaults %>

</head>
<body>
	<header>
        <h3>CUNYversity</h3> 
         <nav class="headernav">                  
            <% if student_signed_in? %>
                <span>Hello <%= current_student.email %></span>
               
                <%= link_to "Sfign out", '/students/sign_out', :method => :delete %>


                <% menu_group pull: :right do %>
                <%= menu_item "All books", books_path(current_student) %>

                <%= menu_item "Edit Profile", edit_student_registration_path(current_student) %>
                <%= menu_item "Account Settings", edit_student_registration_path(current_student, @account) %>
                <%= link_to 'Sfign out', '/students/sign_out', :method => :delete %>
                
            <% end %>  
            <br>
        </nav>







        <%= nav_bar fixed: :bottom do %>
    <% menu_group do %>
        <%= menu_item "Home", root_path %>
        
        
    <% end %>
    
    <% end %>
<% end %>

             
    </header>
    <%= yield %>

</body>
</html>