<!DOCTYPE html>
<html>
	<head>
	  
	  
	  
	  <title>Cunyversity</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	  
	 

	  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-3837471042049839",
              enable_page_level_ads: true
         });
      </script>
	</head>

	<body>

 		<%= render 'layouts/header' %>

		<div>
		    <%= yield :sidebar %>
		</div>

        <div class="container">
    		<% flash.each do |name, msg| %>
      		<%= content_tag(:div, msg, class: "alert alert-info") %>
    	<% end %>
   			<%= yield %>
   		</div>
    
	</body>
</html>


















